In [1]:
from arcgis.gis import GIS
gis=GIS("home")

In [14]:
#import necessary libraries
import io
import arcpy
import pandas as pd
import requests
from arcgis.features import GeoAccessor, GeoSeriesAccessor, FeatureSet
from arcgis.widgets import MapView
from zipfile import ZipFile
import os
from osgeo import ogr
from arcgis.geometry import SpatialReference

In [3]:
#create a function to request and download data from Minnesota GeoCommons

#get the "mn county boundaries" package from MN Geocommons
mngc_res = requests.get("https://gisdata.mn.gov/api/3/action/package_show?id=d199886f-474f-4fe0-aba4-c7071ab92a35")  

#get the MN Geocommons response as a json
mngc_json_out = mngc_res.json()
print(mngc_json_out["result"]["resources"])
##get the actual zipfile url from the directory in mn geocommons- this is a line  within a list within a dictionary within a dictionary, show that url so it can be checked
url_mngc = mngc_json_out["result"]["resources"][2]["url"]
print(url_mngc)

[{'mimetype': None, 'cache_url': None, 'hash': '', 'description': '', 'gdrsResGuid': '{24e4ec6f-42fc-4195-9498-066f89f6c885}', 'cache_last_updated': None, 'url': 'https://resources.gisdata.mn.gov/pub/gdrs/data/pub/us_mn_state_dot/bdry_counties/fgdb_bdry_counties.zip', 'name': 'ESRI File Geodatabase', 'format': 'fgdb', 'package_id': 'd199886f-474f-4fe0-aba4-c7071ab92a35', 'created': '2024-10-03T08:02:42.413613', 'state': 'active', 'mimetype_inner': None, 'last_modified': None, 'position': 0, 'revision_id': 'b2728ce6-c4c2-4b70-997b-a6adc38b2574', 'url_type': None, 'id': '9ee754fc-735e-402b-aff9-ebf09d67e45b', 'resource_type': 'fgdb', 'size': None}, {'mimetype': None, 'cache_url': None, 'hash': '', 'description': '', 'gdrsResGuid': '{2e998e84-1c25-4c41-ba66-0fe9e05ca8e2}', 'cache_last_updated': None, 'url': 'https://resources.gisdata.mn.gov/pub/gdrs/data/pub/us_mn_state_dot/bdry_counties/gpkg_bdry_counties.zip', 'name': 'OGC GeoPackage', 'format': 'gpkg', 'package_id': 'd199886f-474f-4fe0-aba4-c7071ab92a35', 'created': '2024-10-03T08:02:42.413619', 'state': 'active', 'mimetype_inner': None, 'last_modified': None, 'position': 1, 'revision_id': 'b2728ce6-c4c2-4b70-997b-a6adc38b2574', 'url_type': None, 'id': '9dcf3c58-f06b-4a27-82c9-3664fef363fc', 'resource_type': 'gpkg', 'size': None}, {'mimetype': None, 'cache_url': None, 'hash': '', 'description': '', 'gdrsResGuid': '{2f42a81b-6a63-4eff-b46a-00f047f91bdb}', 'cache_last_updated': None, 'url': 'https://resources.gisdata.mn.gov/pub/gdrs/data/pub/us_mn_state_dot/bdry_counties/shp_bdry_counties.zip', 'name': 'Shapefile', 'format': 'SHP', 'package_id': 'd199886f-474f-4fe0-aba4-c7071ab92a35', 'created': '2024-10-03T08:02:42.413622', 'state': 'active', 'mimetype_inner': None, 'last_modified': None, 'position': 2, 'revision_id': 'b2728ce6-c4c2-4b70-997b-a6adc38b2574', 'url_type': None, 'id': '6d2d24c5-07e5-4aba-aa81-1023aaefc12c', 'resource_type': 'shp', 'size': None}, {'mimetype': None, 'cache_url': None, 'hash': '', 'description': '', 'gdrsResGuid': 'None', 'cache_last_updated': None, 'url': 'https://resources.gisdata.mn.gov/pub/gdrs/data/pub/us_mn_state_dot/bdry_counties/metadata/metadata.html', 'name': 'Full Metadata Record', 'format': 'HTML', 'package_id': 'd199886f-474f-4fe0-aba4-c7071ab92a35', 'created': '2024-10-03T08:02:42.413624', 'state': 'active', 'mimetype_inner': None, 'last_modified': None, 'position': 3, 'revision_id': 'b2728ce6-c4c2-4b70-997b-a6adc38b2574', 'url_type': None, 'id': '9376f88c-2626-47b3-8659-97fb5fcf9831', 'resource_type': 'metadata', 'size': None}]
https://resources.gisdata.mn.gov/pub/gdrs/data/pub/us_mn_state_dot/bdry_counties/shp_bdry_counties.zip

In [21]:
##get the files associated with the api request from the previous step as a zip file, show that you got them, save them in a folder
mngc_bdry_counties_zip = requests.get(url_mngc, allow_redirects=True)

open(r"C:\Users\rockx057\Downloads\mngc_bdry_counties.zip", 'wb').write(mngc_bdry_counties_zip.content)

with ZipFile(r"C:\Users\rockx057\Downloads\mngc_bdry_counties.zip", 'r') as mngc_bdry_counties:
    mngc_bdry_counties.extractall(
        path=r"C:\Users\rockx057\Downloads")

In [3]:
#read shapefile into spatially enabled dataframe- show the dataframe
df_mngc = pd.DataFrame.spatial.from_featureclass(r"C:\Users\rockx057\Downloads\County_Boundaries_in_Minnesota.shp")

print(df_mngc.head())
df_mngc

   FID  ...                                              SHAPE
0    0  ...  {"rings": [[[254267.48900000006, 5317428.819],...
1    1  ...  {"rings": [[[460790.98000000045, 5009684.501],...
2    2  ...  {"rings": [[[333638.16220000014, 5071100.27899...
3    3  ...  {"rings": [[[419160.2740000002, 5045580.789000...
4    4  ...  {"rings": [[[302069.1983000003, 4857932.176000...

[5 rows x 9 columns]

    FID  ...                                              SHAPE
0     0  ...  {"rings": [[[254267.48900000006, 5317428.819],...
1     1  ...  {"rings": [[[460790.98000000045, 5009684.501],...
2     2  ...  {"rings": [[[333638.16220000014, 5071100.27899...
3     3  ...  {"rings": [[[419160.2740000002, 5045580.789000...
4     4  ...  {"rings": [[[302069.1983000003, 4857932.176000...
..  ...  ...                                                ...
82   82  ...  {"rings": [[[223954.7450000001, 5267125.892000...
83   83  ...  {"rings": [[[530126.9800000004, 4941870.82], [...
84   84  ...  {"rings": [[[492821.76999999955, 4974434.601],...
85   85  ...  {"rings": [[[407752.21999999974, 4855630.841],...
86   86  ...  {"rings": [[[442704.6610000003, 4893905.279999...

[87 rows x 9 columns]

In [4]:
#reproject this into WGS 84
# make it a spatially enabled df
df_gecommons = pd.DataFrame.spatial.from_featureclass(r"C:\Users\rockx057\Downloads\County_Boundaries_in_Minnesota.shp")
df_gecommons.spatial.project(SpatialReference(4326))
df_gecommons

    FID  ...                                              SHAPE
0     0  ...  {"rings": [[[-96.2920295969504, 47.96295549646...
1     1  ...  {"rings": [[[-93.49956599190654, 45.2395607834...
2     2  ...  {"rings": [[[-95.1397764088118, 45.77342266251...
3     3  ...  {"rings": [[[-94.03580931291634, 45.5590700155...
4     4  ...  {"rings": [[[-95.46245024888923, 43.8479460520...
..  ...  ...                                                ...
82   82  ...  {"rings": [[[-96.66542793929916, 47.4989379190...
83   83  ...  {"rings": [[[-92.62019151129338, 44.6295610611...
84   84  ...  {"rings": [[[-93.09095534911138, 44.9233046613...
85   85  ...  {"rings": [[[-94.14766400467082, 43.8480001515...
86   86  ...  {"rings": [[[-93.7170018385121, 44.19611573214...

[87 rows x 9 columns]

In [5]:
#create a function to request and download data from Esri
arc_url = ("https://webgis.dot.state.mn.us/65agsf1/rest/services/sdw_trans/ROUTES_TRUNK_HIGHWAY/FeatureServer/0/query?where=1%3D1&objectIds=&time=&geometry=&geometryType=esriGeometryEnvelope&inSR=&spatialRel=esriSpatialRelIntersects&distance=&units=esriSRUnit_Foot&relationParam=&outFields=&returnGeometry=true&maxAllowableOffset=&geometryPrecision=&outSR=4326&havingClause=&gdbVersion=&historicMoment=&returnDistinctValues=false&returnIdsOnly=false&returnCountOnly=false&returnExtentOnly=false&orderByFields=&groupByFieldsForStatistics=&outStatistics=&returnZ=false&returnM=false&multipatchOption=xyFootprint&resultOffset=&resultRecordCount=&returnTrueCurves=false&returnExceededLimitFeatures=false&quantizationParameters=&returnCentroid=false&timeReferenceUnknownClient=false&sqlFormat=none&resultType=&featureEncoding=esriDefault&datumTransformation=&f=geojson")
arc_response = requests.get(arc_url, allow_redirects = True)

##Convert response object into JSON
arc_gj = arc_response.json()

fs = FeatureSet.from_geojson(arc_gj)
sedf = fs.sdf

In [6]:
sedf

    ROUTE_NAME  OBJECTID                                              SHAPE
0     US 218-I         1  {"paths": [[[-92.94424965199994, 43.4997791680...
1       MN 6-D         2  {"paths": [[[-93.86995927599997, 46.3448620900...
2       MN 6-I         3  {"paths": [[[-93.86995927599997, 46.3448620900...
3       MN 9-D         4  {"paths": [[[-94.93874822799995, 45.2917858190...
4       MN 9-I         5  {"paths": [[[-94.93874822799995, 45.2917858190...
..         ...       ...                                                ...
380    MN 23-D       381  {"paths": [[[-96.43233509399994, 43.6080995770...
381   UNM 67-I       382  {"paths": [[[-95.46050889199995, 44.7369864060...
382     MN 7-I       383  {"paths": [[[-96.70003017999994, 45.5587314850...
383    MN 23-I       384  {"paths": [[[-96.43233509399994, 43.6080995770...
384   UNU 52-I       385  {"paths": [[[-93.24260562699999, 44.9831802880...

[385 rows x 3 columns]

In [18]:
#create a function to request and download data from NDAWN


##request hourly data from 9/30 for Ada, MN (Station 78), 
ndawn_url = "https://ndawn.ndsu.nodak.edu/table.csv?ttype=hourly&station=78&begin_date=2024-09-30&end_date=2024-09-30"
ndawn_res = requests.get(ndawn_url, allow_redirects=True)

## turn CSV into dataframe, ignoring the text above the header row, and the units row
ndawn_csv_to_df = pd.read_csv(io.StringIO(ndawn_res.content.decode("utf-8")), header = 3, skiprows=[4])

ndawn_csv_to_df

   Station Name  ...  Avg Wind Dir SD at 10 m Flag
0           Ada  ...                           NaN
1           Ada  ...                           NaN
2           Ada  ...                           NaN
3           Ada  ...                           NaN
4           Ada  ...                           NaN
5           Ada  ...                           NaN
6           Ada  ...                           NaN
7           Ada  ...                           NaN
8           Ada  ...                           NaN
9           Ada  ...                           NaN
10          Ada  ...                           NaN
11          Ada  ...                           NaN
12          Ada  ...                           NaN
13          Ada  ...                           NaN
14          Ada  ...                           NaN
15          Ada  ...                           NaN
16          Ada  ...                           NaN
17          Ada  ...                           NaN
18          Ada  ...                           NaN
19          Ada  ...                           NaN
20          Ada  ...                           NaN
21          Ada  ...                           NaN
22          Ada  ...                           NaN
23          Ada  ...                           NaN

[24 rows x 46 columns]

In [8]:
##Norman county pull
norman_county = df_gecommons[df_gecommons["FID"] == 82]
norman_county

    FID  ...                                              SHAPE
82   82  ...  {"rings": [[[-96.66542793929916, 47.4989379190...

[1 rows x 9 columns]

#spatially join the data and print attribute table heading
# Create two SEDFs
NDAWN_sdf = GeoAccessor.from_xy(ndawn_csv_to_df, 'Longitude', 'Latitude', sr=4326)


# Perform the spatial join
joined_sdf = norman_county.spatial.join(NDAWN_sdf)

# Print the resulting SEDF
print(joined_sdf.head())

In [30]:
## export both dataframes to feature classes
NDAWN_sdf = pd.DataFrame.spatial.from_xy(ndawn_csv_to_df, 'Longitude', 'Latitude')
NDAWN_sdf[["SHAPE", "Station Name", "Avg Air Temp"]].spatial.to_featureclass(r"C:\Users\rockx057\Documents\ArcGIS\Projects\Lab 1 5571\Default.gdb\NDAWN_station")

'C:\\Users\\rockx057\\Documents\\ArcGIS\\Projects\\Lab 1 5571\\Default.gdb\\NDAWN_station'

In [26]:
norman_county.spatial.to_featureclass(r"C:\Users\rockx057\Documents\ArcGIS\Projects\Lab 1 5571\Default.gdb\Norman_County")

'C:\\Users\\rockx057\\Documents\\ArcGIS\\Projects\\Lab 1 5571\\Default.gdb\\Norman_County'

In [31]:
#spatially join the two feature classes, save to the geodatabase

arcpy.analysis.SpatialJoin("Norman_County", "NDAWN_station", r"C:\Users\rockx057\Documents\ArcGIS\Projects\Lab 1 5571\Default.gdb\Joined_Ada_Norman",)